body {
    background-image: url(fondo1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
h1 {
    text-align: center;
    font-family: 'Fuente';
    color: white;
}
h2 {
    text-align: center;
    font-family: 'Fuente';
    color: white;
}
h3{
    color: white;
    text-align: center;
}
.tituloizq{
    
    margin-top: 20px;
}
table, th, td {
    border: 1px solid white;
    padding: 5px;
   
}
right {
    width:30%;
    border: 10px double;
    margin-top: 5px;
    margin-left: 15px;
    padding: 10px;
    text-align: justify top;
    float: right;
    color: white;
    background-color:rgba(0,0,0,0.5)
    
}
left{
    border: 10px double;
    margin-top: 5px;
    margin-right: 2px;
    width: 65%;
    float: right;
    color: white;
    background-color:rgba(0,0,0,0.5)
}
/* Fuentes */
@font-face {
    font-family: Fuente;
    src: url(Movement.ttf);
}
br {
    font-size:5px;
}
.soy {
    text-align: center;
}
#nacimiento {
    text-align: center;
    background-color:rgba(255, 255, 255, 0.25)

}
#form {
    background-color:rgba(255, 255, 255, 0.25);
    padding: 15px;

}

.torres {
    display: block;
    margin: auto;
    
}
.titulos{
    font-size: x-large;
    color:white;
    text-align: center;
    font-family: Fuente;
    font-size: xx-large;
}
.primera{
    text-align: center;
    
}
.container {
    width: 300px;
    height: 60px;
    border: 1px solid black;
    background-color : green;
}
.bordes{
    border: 10px double;
    margin: 0px;
    padding: 10px;
    text-align: justify;
    color: white;
}
.block{
    text-align:center;
    }
.slide {
    width: 500px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

 .list{
    text-align: left;
    display:inline-block;
    }



