body {
    background-image: url(fondo.jpg);
    display: block;
    margin: auto;
    background-size: cover;
}
h1 {
    text-align: center;
    font-family: 'Fuente';
    color: white;
}
h2 {
    text-align: center;
    font-family: 'Fuente';
    color: white;
}
h3{
    color: white;
    text-align: center;
}
right {
    width:30%;
    border: 10px double;
    margin-top: 5px;
    margin-left: 15px;
    padding: 10px;
    text-align: justify top;
    float: right;
    color: white;
}
left{
    border: 10px double;
    margin-top: 5px;
    margin-right: 2px;
    width: 65%;
    float: right;
    color: white;
}
/* Fuentes */
@font-face {
    font-family: Fuente;
    src: url(Movement.ttf);
}
br {
    font-size:5px;
}
.soy {
    text-align: center;
}
.nacimiento {
    text-align: center;
}

.torres {
    display: block;
    margin: auto;
    
}
.titulos{
    font-size: x-large;
    color:white;
    text-align: center;
    font-family: Fuente;
    font-size: xx-large;
}
.primera{
    text-align: center;
    
}
.container {
    width: 300px;
    height: 60px;
    border: 1px solid black;
    background-color : green;
}
.bordes{
    border: 10px double;
    margin: 0px;
    padding: 10px;
    text-align: justify;
    color: white;
}
.block{
    text-align:center;
    }
    
 .list{
    text-align: left;
    display:inline-block;
    }
.gifniño{
        position:responsive;
        left:100px;
        top:300px;
    }
.gifmayor{
        position:responsive;
        left:750px;
        top:300px;
    }


